.Title{
    color: white;
    text-align: center;
    font-weight:bold;
    font-family:"Copperplate Gothic Light", Calibri;
}
.MapofEurope{
    image-resolution: normal;
    width: 75%;
    height: 70%;
    display: block;
    margin-left: auto;
}
body{
    background-color: #00004B;
}
.Separatorline{
    height: 5px;
    border-width: 0;
}
.CountryData{
    color: white;
    text-align: left;
    font-weight: bold;
    font-family:"Copperplate Gothic Light", Calibri;
}
.CountryImages{
    width: 25%;
    height: 25%;
}