.Title{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight:bold;
    font-family: Calibri;
<<<<<<< HEAD
    font-size: 75px;
=======
    background-color: darkblue;
    margin: 0;
    height: 100px;
    line-height: 100px;
>>>>>>> 52af1b91dc765ea83e28ef5f6a230b8ccb806747
}
.MapofEurope{
    image-resolution: normal;
    width: 75%;
    height: 70%;
    display: block;
    margin-left: auto;
}
body{
    background-color: #00004B;
    margin: 0;
}
.Separatorline{
    height: 5px;
    border-width: 0;
}
.CountryData{
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Calibri;
}
.CountryImages{
    width: 25%;
    height: 25%;
<<<<<<< HEAD
}
@media (max-width: 768px) {
    .MapofEurope {
        width: 100%;
    }
    .CountryImages {
        width: 50%;
        height: auto;
    }
}
html{
    scroll-behavior:smooth;
}

=======
    float: right;
}
>>>>>>> 52af1b91dc765ea83e28ef5f6a230b8ccb806747
