.Title{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight:bold;
    font-family: Calibri;
    background-color: darkblue;
    margin: 0;
    height: 100px;
    line-height: 100px;
}
.MapofEurope{
    image-resolution: normal;
    width: 75%;
    height: 70%;
    display: block;
    margin-left: auto;
}
body{
    background-color: #00004B;
    margin: 0;
}
.Separatorline{
    height: 5px;
    border-width: 0;
}
.CountryData{
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Calibri;
}
.CountryImages{
    width: 25%;
    height: 25%;
    float: right;
}