.Title{
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight:bold;
    font-family: Calibri;
    font-size: 75px;
    background-color: #1b5577;
    margin: 0;
    height: 100px;
    line-height: 100px;
}
.MapofEurope{
    image-resolution: normal;
    width: 75%;
    height: 70%;
    display: block;
    margin-left: auto;
}
body{
    margin: 0;
    background: linear-gradient(to bottom, #1b5577, #1b5565);
    color: white;
}
.Separatorline{
    height: 5px;
    border-width: 0;
}
.CountryData{
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Calibri;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 15px;
}
.CountryImages{
    width: 25%;
    height: 25%;
}
@media (max-width: 768px) {
    .MapofEurope {
        width: 100%;
    }
    .CountryImages {
        width: 50%;
        height: auto;
    }
}
html{
    scroll-behavior:smooth;
}
.Info{
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Calibri;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 15px;

}
.Info:target {
    background-color: rgba(255, 255, 0, 0.3);
    border: 2px solid gold;
    padding: 10px;
}
